<nav class="bg-gray-800">

  <!-- desktop navbar-->
  <section class="hidden md:block mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center">


      <nav class="flex flex-wrap flex-grow justify-start my-auto">
        <a
          *ngFor="let navItem of navItems; let i = index"
          routerLink="{{ navItem.path }}"
          class="ml-4 font-bold text-white hover:text-gray transition"
          [routerLinkActive]="['active']"
        >{{ navItem.display }}</a>
      </nav>
      </div>
    </div>
  </section>

  <section class="md:hidden">
  <div class="bg-gray-800 p-4 flex justify-end">
    <!-- Hamburger Icon -->
    <button class="text-white focus:outline-none">
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <!-- Mobile Menu -->
    <div class="hidden md:flex md:items-center md:w-auto">
      <nav>
        <ul class="flex flex-col md:flex-row list-none md:ml-auto">
          <li class="nav-item">
            <a routerLink="/" class="nav-link text-white px-2 py-1">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link text-white px-2 py-1">About</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact" class="nav-link text-white px-2 py-1">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
</nav>
